In [1]:
import pandas as pd

In [4]:
data_path = r"C:\Users\parth\2023\Fall 2023\Projects\docker_hack\data\data.csv"

In [5]:
df = pd.read_csv(data_path)

In [6]:
df.head()

,first,actors,details,boxOffice,techspecs
0,"[{'title': 'Mobile Two'}, {'genres': ['Drama']...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,[],[{'title-techspec_runtime': {'val': '1 hour 30...
1,"[{'title': 'Giving Becky a Chance'}, {'poster_...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['June ...,[],[{'title-techspec_runtime': {'val': '50 minute...
2,"[{'title': 'Promises'}, {'poster_link': 'https...",[],[{'title-details-releasedate': {'val': ['2022 ...,"[{'title-boxoffice-budget': {'val': '$8,000 (e...",[{'title-techspec_runtime': {'val': '14 minute...
3,"[{'title': 'Sin'}, {'poster_link': 'https://m....",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '50 minute...
4,"[{'title': 'The Miseducation of Bindu'}, {'pos...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '1 hour 32...

In [9]:
#for debug
eval(df["boxOffice"][2])

[{'title-boxoffice-budget': {'val': '$8,000 (estimated)'}}]

In [12]:
x = [{"a":1},{"b":2},{"b":3},{"x":1}]

In [14]:
dict(x)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [31]:
def make_new_columns(df,col_name, list_of_keys):
    """
    params will be(col_name,[list_of_keys]) ,
    the names in the list should be same as keys
    """
    if(col_name not in df.columns):
        print("No such column exists in the df")
    for key in list_of_keys:
        df[key] = ""
    for i in range(len(df)):
        response_list = eval(df["boxOffice"][i])
        if(response_list):
            response = response_list
            for it in response:
                for key in list_of_keys:
                    if key in it:
                        df[key][i] = it[key]["val"]
                        

    return df
    
    #delet the original column

In [32]:
new_df = df

In [34]:
new_df = make_new_columns(new_df,"boxOffice", ["title-boxoffice-budget","title-boxoffice-cumulativeworldwidegross","title-boxoffice-grossdomestic","title-boxoffice-openingweekenddomestic"])

In [35]:
new_df

,first,actors,details,boxOffice,techspecs,title-boxoffice-budget,title-boxoffice-cumulativeworldwidegross,title-boxoffice-grossdomestic,title-boxoffice-openingweekenddomestic
0,"[{'title': 'Mobile Two'}, {'genres': ['Drama']...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,[],[{'title-techspec_runtime': {'val': '1 hour 30...,,,,
1,"[{'title': 'Giving Becky a Chance'}, {'poster_...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['June ...,[],[{'title-techspec_runtime': {'val': '50 minute...,,,,
2,"[{'title': 'Promises'}, {'poster_link': 'https...",[],[{'title-details-releasedate': {'val': ['2022 ...,"[{'title-boxoffice-budget': {'val': '$8,000 (e...",[{'title-techspec_runtime': {'val': '14 minute...,"$8,000 (estimated)",,,
3,"[{'title': 'Sin'}, {'poster_link': 'https://m....",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '50 minute...,,,,
4,"[{'title': 'The Miseducation of Bindu'}, {'pos...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '1 hour 32...,,,,
...,...,...,...,...,...,...,...,...,...
100394,"[{'title': ""Ron Hopper's Misfortune""}, {'poste...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['March...,"[{'title-boxoffice-budget': {'val': '$1,200,00...",[{'title-techspec_runtime': {'val': '1 hour 33...,"$1,200,000 (estimated)",,,
100395,"[{'title': 'Coins for Christmas'}, {'poster_li...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Decem...,[],[{'title-techspec_runtime': {'val': '1 hour 30...,,,,
100396,"[{'title': 'Alpha Delta Zatan'}, {'poster_link...","[{'image': None, 'actor_name': 'Jeremy Winter'...",[{'title-details-releasedate': {'val': ['Octob...,"[{'title-boxoffice-budget': {'val': '$50,000 (...",[{'title-techspec_runtime': {'val': '1 hour 12...,"$50,000 (estimated)",,,
100397,"[{'title': 'Quadratic Equations'}, {'poster_li...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,"[{'title-boxoffice-budget': {'val': '$10,000 (...",[{'title-techspec_runtime': {'val': '6 minutes...,"$10,000 (estimated)",,,
100398,"[{'title': 'Disencumber'}, {'poster_link': 'ht...","[{'image': None, 'actor_name': 'Patrick Dunnin...",[{'title-details-releasedate': {'val': ['July ...,"[{'title-boxoffice-budget': {'val': '$50,000 (...",[{'title-techspec_runtime': {'val': '1 hour 15...,"$50,000 (estimated)",,,

In [36]:
new_df.isna().sum()

first                                       0
actors                                      0
details                                     0
boxOffice                                   0
techspecs                                   0
title-boxoffice-budget                      0
title-boxoffice-cumulativeworldwidegross    0
title-boxoffice-grossdomestic               0
title-boxoffice-openingweekenddomestic      0
dtype: int64

In [38]:
df["title-boxoffice-budget"][1]

''

In [39]:
df.eq('').sum()

first                                           0
actors                                          0
details                                         0
boxOffice                                       0
techspecs                                       0
title-boxoffice-budget                      80305
title-boxoffice-cumulativeworldwidegross    96234
title-boxoffice-grossdomestic               98282
title-boxoffice-openingweekenddomestic      98594
dtype: int64