In [1]:
import pandas as pd
import polars as pl

In [5]:
# data_path = r"C:\Users\parth\2023\Fall 2023\Projects\docker_hack\data\data.csv"
data_path = "../../../data/csv_dumps/data.csv"

In [85]:
df = pd.read_csv(data_path)
# df = pl.read_csv(data_path)#, encoding='latin-1')
df.head()

,movie_id,first,actors,details,boxOffice,techspecs
0,tt0073397,"[{'title': 'Mobile Two'}, {'genres': ['Drama']...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,[],[{'title-techspec_runtime': {'val': '1 hour 30...
1,tt0175670,"[{'title': 'Giving Becky a Chance'}, {'poster_...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['June ...,[],[{'title-techspec_runtime': {'val': '50 minute...
2,tt19244426,"[{'title': 'Promises'}, {'poster_link': 'https...",[],[{'title-details-releasedate': {'val': ['2022 ...,"[{'title-boxoffice-budget': {'val': '$8,000 (e...",[{'title-techspec_runtime': {'val': '14 minute...
3,tt0006049,"[{'title': 'Sin'}, {'poster_link': 'https://m....",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '50 minute...
4,tt7955022,"[{'title': 'The Miseducation of Bindu'}, {'pos...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '1 hour 32...

In [33]:
#for debug
# eval(df["boxOffice"][17])
eval(df["first"][17])

[{'title': 'Listening in the Dark'},
 {'poster_link': 'https://m.media-amazon.com/images/M/MV5BY2U2MzhjNTctMWFmMS00YzE5LWIyMDMtZmEwZDMwNDU4OWZiXkEyXkFqcGdeQXVyNDA4MDE4Nw@@._V1_QL75_UY281_CR151,0,190,281_.jpg'},
 {'genres': ['Documentary', 'Short']},
 {'plot': 'Human beings are horribly blind to the effect that they have on the natural environment. Yet all around us those repercussions reverberate.'}]

In [109]:
def make_new_columns_boxOffice(curr_df,col_name, list_of_keys):
    """
    params will be(col_name,[list_of_keys]) ,
    the names in the list should be same as keys
    """
    if(col_name not in curr_df.columns):
        print("No such column exists in the df")
    for key in list_of_keys:
        curr_df[key] = ""
    for i in range(len(curr_df)):
        response_list = eval(curr_df["boxOffice"][i])
        if(response_list):
            response = response_list
            for it in response:
                for key in list_of_keys:
                    if key in it:
                        curr_df[key][i] = it[key]["val"]
                        

    return curr_df
    
    # delete the original column 

def make_new_columns_first(curr_df, col_name, list_of_keys):
    """
    params will be(col_name,[list_of_keys]) ,
    the names in the list should be same as keys
    """
    if (col_name not in curr_df.columns):
        print("No such column exists in the df")
    for key in list_of_keys:
        curr_df[key] = ""
    for i in range(len(curr_df)):
        response_list = eval(curr_df["first"][i])
        if (response_list):
            response = response_list
            for it in response:
                for key in list_of_keys:
                    if key in it:
                        curr_df[key][i] = it[key]
                        

    return curr_df
    
    # delete the original column 

def make_new_columns_actors(curr_df, col_name, list_of_keys ='actor_name'):
    """
    params will be(col_name,[list_of_keys]) ,
    the names in the list should be same as keys
    """
    if (col_name not in curr_df.columns):
        print("No such column exists in the df")
    for key in list_of_keys:
        curr_df[key] = ""
    for i in range(len(curr_df)):
        response_list = eval(curr_df["actors"][i])
        if (response_list):
            response = response_list
            for it in response:
                for key in list_of_keys:
                    if key in it:
                        curr_df[key][i] = it[key]
                        

    return curr_df
    
    # delete the original column

In [107]:
df["actors"][0]

"[{'image': 'https://m.media-amazon.com/images/M/MV5BMTkzNjYwOTY4Ml5BMl5BanBnXkFtZTcwNjU0MDYwMw@@._V1_QL75_UX140_CR0,12,140,140_.jpg', 'actor_name': 'Jackie Cooper', 'character_name': 'Peter Campbell'}, {'image': 'https://m.media-amazon.com/images/M/MV5BNDIyODY0NTE4NV5BMl5BanBnXkFtZTgwNTM0NTg1MDI@._V1_QL75_UX140_CR0,0,140,140_.jpg', 'actor_name': 'Julie Gregg', 'character_name': 'Maggie Spencer'}, {'image': 'https://m.media-amazon.com/images/M/MV5BMTk3OTg1MjI5NV5BMl5BanBnXkFtZTcwMTY1NzkyOA@@._V1_QL75_UX140_CR0,13,140,140_.jpg', 'actor_name': 'Mark Wheeler', 'character_name': 'Doug McKnight'}, {'image': 'https://m.media-amazon.com/images/M/MV5BMTI2MjYwODU2Ml5BMl5BanBnXkFtZTYwMDY3NjM2._V1_QL75_UX140_CR0,0,140,140_.jpg', 'actor_name': 'Edd Byrnes', 'character_name': 'Roger Brice'}, {'image': 'https://m.media-amazon.com/images/M/MV5BMzdjNzZlNDktNGY0Zi00NzM3LTg0OTktZGVhNjI3MjEzZTE2XkEyXkFqcGdeQXVyNjc3NDgwNzU@._V1_QL75_UY140_CR24,0,140,140_.jpg', 'actor_name': 'Jack Hogan', 'character_name': 'Bill Hopkins'}, {'image': 'https://m.media-amazon.com/images/M/MV5BMDFiMWQyYmMtNjgyNC00ZmVhLTk2YzQtYzViN2U4Y2E1NTBmXkEyXkFqcGdeQXVyMzk3NTUwOQ@@._V1_QL75_UX140_CR0,22,140,140_.jpg', 'actor_name': 'Joe E. Tata', 'character_name': 'Father John Lucas'}, {'image': 'https://m.media-amazon.com/images/M/MV5BOTU5ODY1MzYtYzhjYy00N2E2LTkwZGMtMjFhZjVmNTM3YmYxXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_QL75_UY140_CR42,0,140,140_.jpg', 'actor_name': 'Harry Bartell', 'character_name': 'Phillip Ganzer'}, {'image': 'https://m.media-amazon.com/images/M/MV5BYmY1NmE5YmItNjJmNS00ODZkLTllZjQtZDliZGRlMjNjZDM0XkEyXkFqcGdeQXVyMjUyNDk2ODc@._V1_QL75_UY140_CR55,0,140,140_.jpg', 'actor_name': 'William Boyett', 'character_name': 'Lt. Don Carter'}, {'image': 'https://m.media-amazon.com/images/M/MV5BMTUwNjU1MzM0NF5BMl5BanBnXkFtZTcwMzg4NDgxOA@@._V1_QL75_UX140_CR0,0,140,140_.jpg', 'actor_name': 'Burt Mustin', 'character_name': 'Wally'}, {'image': 'https://m.media-amazon.com/images/M/MV5BZWIxMzQyODEtY2NmYS00YTM4LWE4ZjYtZDhhZjZiYjk5NDEyXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_QL75_UY140_CR42,0,140,140_.jpg', 'actor_name': 'Barney Phillips', 'character_name': 'Surgeon'}]"

In [66]:
tmp = eval(df["actors"][0])
for i in tmp:
    for key in ['title','image','genres','plot','imdb-rating']:
        if key in i:
            print(i[key])

Mobile Two
['Drama']
A TV reporter whose career was ruined by his drinking gets another chance when he is hired by a TV news program.
6.9/10

In [103]:
new_df = df.copy()
new_df = make_new_columns_boxOffice(new_df,"boxOffice", ["title-boxoffice-budget","title-boxoffice-cumulativeworldwidegross","title-boxoffice-grossdomestic","title-boxoffice-openingweekenddomestic"])
new_df = make_new_columns_first(new_df,'first',['title','poster_link','genres','plot','imdb-rating'])
new_df.drop(['first','boxOffice'], axis = 1, inplace = True)

In [106]:
new_df

,movie_id,first,actors,details,boxOffice,techspecs,title,poster_link,genres,plot,imdb-rating
0,tt0073397,"[{'title': 'Mobile Two'}, {'genres': ['Drama']...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,[],[{'title-techspec_runtime': {'val': '1 hour 30...,Mobile Two,,[Drama],A TV reporter whose career was ruined by his d...,6.9/10
1,tt0175670,"[{'title': 'Giving Becky a Chance'}, {'poster_...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['June ...,[],[{'title-techspec_runtime': {'val': '50 minute...,Giving Becky a Chance,https://m.media-amazon.com/images/M/MV5BMTY0OT...,[Drama],"Becky Knight's parents, simple shopkeepers, ha...",
2,tt19244426,"[{'title': 'Promises'}, {'poster_link': 'https...",[],[{'title-details-releasedate': {'val': ['2022 ...,"[{'title-boxoffice-budget': {'val': '$8,000 (e...",[{'title-techspec_runtime': {'val': '14 minute...,Promises,https://m.media-amazon.com/images/M/MV5BMGU4Nj...,[Short],"Set in eastern Ukraine, follow the intimate an...",
3,tt0006049,"[{'title': 'Sin'}, {'poster_link': 'https://m....",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '50 minute...,Sin,https://m.media-amazon.com/images/M/MV5BY2M0NT...,[Drama],Italian peasant girl deserts her fiancé for we...,
4,tt7955022,"[{'title': 'The Miseducation of Bindu'}, {'pos...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '1 hour 32...,The Miseducation of Bindu,https://m.media-amazon.com/images/M/MV5BODc3Nz...,[Comedy],When a bullied Indian teen forges her mother's...,5.6/10
...,...,...,...,...,...,...,...,...,...,...,...
100394,tt8364590,"[{'title': ""Ron Hopper's Misfortune""}, {'poste...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['March...,"[{'title-boxoffice-budget': {'val': '$1,200,00...",[{'title-techspec_runtime': {'val': '1 hour 33...,Ron Hopper's Misfortune,https://m.media-amazon.com/images/M/MV5BN2E0OD...,"[Drama, Fantasy, Mystery]","Sara, a beautiful young girl, returns to an ol...",4.2/10
100395,tt8851036,"[{'title': 'Coins for Christmas'}, {'poster_li...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Decem...,[],[{'title-techspec_runtime': {'val': '1 hour 30...,Coins for Christmas,https://m.media-amazon.com/images/M/MV5BNDZjMz...,"[Comedy, Drama]",Single mom Madison finds herself scraping penn...,6.4/10
100396,tt6640214,"[{'title': 'Alpha Delta Zatan'}, {'poster_link...","[{'image': None, 'actor_name': 'Jeremy Winter'...",[{'title-details-releasedate': {'val': ['Octob...,"[{'title-boxoffice-budget': {'val': '$50,000 (...",[{'title-techspec_runtime': {'val': '1 hour 12...,Alpha Delta Zatan,https://m.media-amazon.com/images/M/MV5BNWExNj...,"[Horror, Mystery, Thriller]","In a frat house where no one can be trusted, a...",3.5/10
100397,tt9124830,"[{'title': 'Quadratic Equations'}, {'poster_li...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,"[{'title-boxoffice-budget': {'val': '$10,000 (...",[{'title-techspec_runtime': {'val': '6 minutes...,Quadratic Equations,https://m.media-amazon.com/images/M/MV5BZGJjNW...,"[Short, Comedy]",There's a substitute teacher for math class to...,
100398,tt13361452,"[{'title': 'Disencumber'}, {'poster_link': 'ht...","[{'image': None, 'actor_name': 'Patrick Dunnin...",[{'title-details-releasedate': {'val': ['July ...,"[{'title-boxoffice-budget': {'val': '$50,000 (...",[{'title-techspec_runtime': {'val': '1 hour 15...,Disencumber,https://m.media-amazon.com/images/M/MV5BNzdlZm...,[Drama],"Out of options and out of cash, two best frien...",6.4/10

In [36]:
new_df.isna().sum()

first                                       0
actors                                      0
details                                     0
boxOffice                                   0
techspecs                                   0
title-boxoffice-budget                      0
title-boxoffice-cumulativeworldwidegross    0
title-boxoffice-grossdomestic               0
title-boxoffice-openingweekenddomestic      0
dtype: int64

In [38]:
df["title-boxoffice-budget"][1]

''

In [39]:
df.eq('').sum()

first                                           0
actors                                          0
details                                         0
boxOffice                                       0
techspecs                                       0
title-boxoffice-budget                      80305
title-boxoffice-cumulativeworldwidegross    96234
title-boxoffice-grossdomestic               98282
title-boxoffice-openingweekenddomestic      98594
dtype: int64