In [1]:
import pandas as pd
import polars as pl

In [5]:
# data_path = r"C:\Users\parth\2023\Fall 2023\Projects\docker_hack\data\data.csv"
data_path = "../../../data/csv_dumps/data.csv"

In [112]:
df = pd.read_csv(data_path)
# df = pl.read_csv(data_path)#, encoding='latin-1')
df.head()

,movie_id,first,actors,details,boxOffice,techspecs
0,tt0073397,"[{'title': 'Mobile Two'}, {'genres': ['Drama']...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,[],[{'title-techspec_runtime': {'val': '1 hour 30...
1,tt0175670,"[{'title': 'Giving Becky a Chance'}, {'poster_...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['June ...,[],[{'title-techspec_runtime': {'val': '50 minute...
2,tt19244426,"[{'title': 'Promises'}, {'poster_link': 'https...",[],[{'title-details-releasedate': {'val': ['2022 ...,"[{'title-boxoffice-budget': {'val': '$8,000 (e...",[{'title-techspec_runtime': {'val': '14 minute...
3,tt0006049,"[{'title': 'Sin'}, {'poster_link': 'https://m....",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '50 minute...
4,tt7955022,"[{'title': 'The Miseducation of Bindu'}, {'pos...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '1 hour 32...

In [33]:
#for debug
# eval(df["boxOffice"][17])
eval(df["first"][17])

[{'title': 'Listening in the Dark'},
 {'poster_link': 'https://m.media-amazon.com/images/M/MV5BY2U2MzhjNTctMWFmMS00YzE5LWIyMDMtZmEwZDMwNDU4OWZiXkEyXkFqcGdeQXVyNDA4MDE4Nw@@._V1_QL75_UY281_CR151,0,190,281_.jpg'},
 {'genres': ['Documentary', 'Short']},
 {'plot': 'Human beings are horribly blind to the effect that they have on the natural environment. Yet all around us those repercussions reverberate.'}]

In [200]:
def make_new_columns_boxOffice(curr_df,col_name, list_of_keys):
    """
    params will be(col_name,[list_of_keys]) ,
    the names in the list should be same as keys
    """
    if(col_name not in curr_df.columns):
        print("No such column exists in the df")
    for key in list_of_keys:
        curr_df[key] = ""
    for i in range(len(curr_df)):
        response_list = eval(curr_df["boxOffice"][i])
        if(response_list):
            response = response_list
            for it in response:
                for key in list_of_keys:
                    if key in it:
                        curr_df[key][i] = it[key]["val"]
                        

    return curr_df
    
    # delete the original column 

def make_new_columns_first(curr_df, col_name, list_of_keys):
    """
    params will be(col_name,[list_of_keys]) ,
    the names in the list should be same as keys
    """
    if (col_name not in curr_df.columns):
        print("No such column exists in the df")
    for key in list_of_keys:
        curr_df[key] = ""
    for i in range(len(curr_df)):
        response_list = eval(curr_df["first"][i])
        if (response_list):
            response = response_list
            for it in response:
                for key in list_of_keys:
                    if key in it:
                        curr_df[key][i] = it[key]
                        

    return curr_df
    
    # delete the original column 

def insert_column_num_actors(curr_df):
    """
    Inserts a new column that states how many actors are in a particular movie.
    """
    curr_df['num_actors'] = pd.Series(dtype='int')
    for i in range(len(curr_df)):
        response_list = eval(curr_df["actors"][i])
        if (response_list):
            curr_df['num_actors'][i] = len(response_list)
        #     response = response_list
        #     for it in response:
        #         for key in list_of_keys:
        #             if key in it:
        #                 curr_df[key][i] = it[key]
                        

    return curr_df
    
    # delete the original column

In [157]:
new_df = df.copy()
new_df = make_new_columns_boxOffice(new_df,"boxOffice", ["title-boxoffice-budget","title-boxoffice-cumulativeworldwidegross","title-boxoffice-grossdomestic","title-boxoffice-openingweekenddomestic"])
new_df = make_new_columns_first(new_df,'first',['title','poster_link','genres','plot','imdb-rating'])
new_df = insert_column_num_actors(new_df)
new_df.drop(['first','boxOffice'], axis = 1, inplace = True)

'6.9/10'

In [116]:
new_df.isna().sum()

movie_id                                    0
actors                                      0
details                                     0
techspecs                                   0
title-boxoffice-budget                      0
title-boxoffice-cumulativeworldwidegross    0
title-boxoffice-grossdomestic               0
title-boxoffice-openingweekenddomestic      0
title                                       0
poster_link                                 0
genres                                      0
plot                                        0
imdb-rating                                 0
dtype: int64

In [118]:
# df["title-boxoffice-budget"][1]

In [39]:
df.eq('').sum()

first                                           0
actors                                          0
details                                         0
boxOffice                                       0
techspecs                                       0
title-boxoffice-budget                      80305
title-boxoffice-cumulativeworldwidegross    96234
title-boxoffice-grossdomestic               98282
title-boxoffice-openingweekenddomestic      98594
dtype: int64