In [39]:
import pandas as pd
import sys

In [57]:
data_path = r"C:\Users\parth\2023\Fall 2023\Projects\docker_hack\data\data.csv"

In [58]:
df = pd.read_csv(data_path)

In [59]:
df.head(20)

,first,actors,details,boxOffice,techspecs
0,"[{'title': 'Mobile Two'}, {'genres': ['Drama']...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,[],[{'title-techspec_runtime': {'val': '1 hour 30...
1,"[{'title': 'Giving Becky a Chance'}, {'poster_...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['June ...,[],[{'title-techspec_runtime': {'val': '50 minute...
2,"[{'title': 'Promises'}, {'poster_link': 'https...",[],[{'title-details-releasedate': {'val': ['2022 ...,"[{'title-boxoffice-budget': {'val': '$8,000 (e...",[{'title-techspec_runtime': {'val': '14 minute...
3,"[{'title': 'Sin'}, {'poster_link': 'https://m....",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '50 minute...
4,"[{'title': 'The Miseducation of Bindu'}, {'pos...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '1 hour 32...
5,"[{'title': '05.10.38'}, {'genres': ['Short']},...",[],[{'title-details-releasedate': {'val': ['April...,[],[{'title-techspec_runtime': {'val': '6 minutes...
6,"[{'title': 'The Path of Happiness'}, {'poster_...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Janua...,[],[{'title-techspec_runtime': {'val': '50 minute...
7,"[{'title': 'Moby Dick'}, {'poster_link': 'http...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['May 1...,[],[{'title-techspec_color': {'val': ['Black and ...
8,"[{'title': 'The Tombs'}, {'poster_link': 'http...","[{'image': None, 'actor_name': 'Jessica Ann Br...",[{'title-details-releasedate': {'val': ['Febru...,[],[{'title-techspec_runtime': {'val': '1 hour 18...
9,"[{'title': 'Mentally Al'}, {'poster_link': 'ht...","[{'image': None, 'actor_name': 'Al Lubel', 'ch...",[{'title-details-releasedate': {'val': ['Augus...,[],[{'title-techspec_runtime': {'val': '1 hour 33...
10,"[{'title': 'Tlacuache de Maguey'}, {'poster_li...",[],[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '8 minutes...
11,"[{'title': 'Rituals For Change: The Film'}, {'...",[],[{'title-details-releasedate': {'val': ['March...,[],[{'title-techspec_runtime': {'val': '44 minute...
12,"[{'title': 'Graveyard Stories'}, {'poster_link...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['May 2...,[],[{'title-techspec_runtime': {'val': '1 hour 42...
13,"[{'title': 'Aloha with Love'}, {'poster_link':...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['May 1...,[],[{'title-techspec_runtime': {'val': '1 hour 30...
14,"[{'title': 'Are Animals Actors?'}, {'poster_li...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Decem...,[],[{'title-techspec_runtime': {'val': '14 minute...
15,"[{'title': 'Dryer'}, {'poster_link': 'https://...",[],[{'title-details-releasedate': {'val': ['May 8...,[],[{'title-techspec_runtime': {'val': '14 minute...
16,"[{'title': 'The Gable Film'}, {'poster_link': ...","[{'image': None, 'actor_name': 'Mike Agrusa', ...",[{'title-details-releasedate': {'val': ['2007 ...,[],[{'title-techspec_color': {'val': ['Color']}}]
17,"[{'title': 'Listening in the Dark'}, {'poster_...","[{'image': None, 'actor_name': 'Ben Gebhardt',...",[{'title-details-releasedate': {'val': ['April...,"[{'title-boxoffice-budget': {'val': '£25,000 (...",[{'title-techspec_runtime': {'val': '44 minute...
18,[{'title': 'Slim the Brave and Sophie the Fair...,[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Febru...,[],[{'title-techspec_color': {'val': ['Black and ...
19,"[{'title': 'King Carnival'}, {'poster_link': '...","[{'image': None, 'actor_name': 'Andrew Salkey'...",[{'title-details-releasedate': {'val': ['July ...,[],[{'title-techspec_runtime': {'val': '1 hour'}}]

In [60]:
def make_new_columns(df,col_name, list_of_keys):
    """
    params will be(col_name,[list_of_keys]) ,
    the names in the list should be same as keys
    """
    if(col_name not in df.columns):
        print("No such column exists in the df")
    for key in list_of_keys:
        df[key] = ""
    for i in range(len(df)):
        response_list = eval(df["boxOffice"][i])
        if(response_list):
            response = response_list
            for it in response:
                for key in list_of_keys:
                    if key in it:
                        df[key][i] = it[key]["val"]
                        

    return df
    
    #delet the original column

In [61]:
new_df = df

In [62]:
new_df = make_new_columns(new_df,"boxOffice", ["title-boxoffice-budget","title-boxoffice-cumulativeworldwidegross","title-boxoffice-grossdomestic","title-boxoffice-openingweekenddomestic"])

In [63]:
new_df["title-boxoffice-budget"][2].split()

['$8,000', '(estimated)']

In [64]:
new_df

,first,actors,details,boxOffice,techspecs,title-boxoffice-budget,title-boxoffice-cumulativeworldwidegross,title-boxoffice-grossdomestic,title-boxoffice-openingweekenddomestic
0,"[{'title': 'Mobile Two'}, {'genres': ['Drama']...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,[],[{'title-techspec_runtime': {'val': '1 hour 30...,,,,
1,"[{'title': 'Giving Becky a Chance'}, {'poster_...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['June ...,[],[{'title-techspec_runtime': {'val': '50 minute...,,,,
2,"[{'title': 'Promises'}, {'poster_link': 'https...",[],[{'title-details-releasedate': {'val': ['2022 ...,"[{'title-boxoffice-budget': {'val': '$8,000 (e...",[{'title-techspec_runtime': {'val': '14 minute...,"$8,000 (estimated)",,,
3,"[{'title': 'Sin'}, {'poster_link': 'https://m....",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '50 minute...,,,,
4,"[{'title': 'The Miseducation of Bindu'}, {'pos...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '1 hour 32...,,,,
...,...,...,...,...,...,...,...,...,...
100394,"[{'title': ""Ron Hopper's Misfortune""}, {'poste...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['March...,"[{'title-boxoffice-budget': {'val': '$1,200,00...",[{'title-techspec_runtime': {'val': '1 hour 33...,"$1,200,000 (estimated)",,,
100395,"[{'title': 'Coins for Christmas'}, {'poster_li...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Decem...,[],[{'title-techspec_runtime': {'val': '1 hour 30...,,,,
100396,"[{'title': 'Alpha Delta Zatan'}, {'poster_link...","[{'image': None, 'actor_name': 'Jeremy Winter'...",[{'title-details-releasedate': {'val': ['Octob...,"[{'title-boxoffice-budget': {'val': '$50,000 (...",[{'title-techspec_runtime': {'val': '1 hour 12...,"$50,000 (estimated)",,,
100397,"[{'title': 'Quadratic Equations'}, {'poster_li...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,"[{'title-boxoffice-budget': {'val': '$10,000 (...",[{'title-techspec_runtime': {'val': '6 minutes...,"$10,000 (estimated)",,,
100398,"[{'title': 'Disencumber'}, {'poster_link': 'ht...","[{'image': None, 'actor_name': 'Patrick Dunnin...",[{'title-details-releasedate': {'val': ['July ...,"[{'title-boxoffice-budget': {'val': '$50,000 (...",[{'title-techspec_runtime': {'val': '1 hour 15...,"$50,000 (estimated)",,,

In [65]:
def money_str_to_currency(input_str):
    """
    Takes an input as a str. Saves currency signs if any
    saves value"""
    if(len(input_str)==0):
        return None
    #strip the str of any spaces
    stripped_input_str = input_str.strip()
    split_str = stripped_input_str.split()
    money_str = split_str[0]
    currency = money_str[:1]
    money_with_comma = money_str[1:]
    money = money_with_comma.replace(",","")
    return currency

In [66]:
def money_str_to_int(input_str):
    """
    Takes an input as a str. Saves currency signs if any
    saves value"""
    try:
        if(len(input_str)==0):
            return None
        #strip the str of any spaces
        stripped_input_str = input_str.strip()
        split_str = stripped_input_str.split()
        money_str = split_str[0]
        currency = money_str[:1]
        money_with_comma = money_str[1:]
        money = money_with_comma.replace(",","")
    except Exception as e:
        print(input_str,e)
    return money

In [67]:
new_df["currency"] = None
new_df["money"] = None

In [68]:
new_df["currency"] = new_df["title-boxoffice-budget"].apply(money_str_to_currency)

In [69]:
new_df["money"] = new_df["title-boxoffice-budget"].apply(money_str_to_int)

In [70]:
new_df

,first,actors,details,boxOffice,techspecs,title-boxoffice-budget,title-boxoffice-cumulativeworldwidegross,title-boxoffice-grossdomestic,title-boxoffice-openingweekenddomestic,currency,money
0,"[{'title': 'Mobile Two'}, {'genres': ['Drama']...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,[],[{'title-techspec_runtime': {'val': '1 hour 30...,,,,,None,None
1,"[{'title': 'Giving Becky a Chance'}, {'poster_...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['June ...,[],[{'title-techspec_runtime': {'val': '50 minute...,,,,,None,None
2,"[{'title': 'Promises'}, {'poster_link': 'https...",[],[{'title-details-releasedate': {'val': ['2022 ...,"[{'title-boxoffice-budget': {'val': '$8,000 (e...",[{'title-techspec_runtime': {'val': '14 minute...,"$8,000 (estimated)",,,,$,8000
3,"[{'title': 'Sin'}, {'poster_link': 'https://m....",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '50 minute...,,,,,None,None
4,"[{'title': 'The Miseducation of Bindu'}, {'pos...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Octob...,[],[{'title-techspec_runtime': {'val': '1 hour 32...,,,,,None,None
...,...,...,...,...,...,...,...,...,...,...,...
100394,"[{'title': ""Ron Hopper's Misfortune""}, {'poste...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['March...,"[{'title-boxoffice-budget': {'val': '$1,200,00...",[{'title-techspec_runtime': {'val': '1 hour 33...,"$1,200,000 (estimated)",,,,$,1200000
100395,"[{'title': 'Coins for Christmas'}, {'poster_li...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Decem...,[],[{'title-techspec_runtime': {'val': '1 hour 30...,,,,,None,None
100396,"[{'title': 'Alpha Delta Zatan'}, {'poster_link...","[{'image': None, 'actor_name': 'Jeremy Winter'...",[{'title-details-releasedate': {'val': ['Octob...,"[{'title-boxoffice-budget': {'val': '$50,000 (...",[{'title-techspec_runtime': {'val': '1 hour 12...,"$50,000 (estimated)",,,,$,50000
100397,"[{'title': 'Quadratic Equations'}, {'poster_li...",[{'image': 'https://m.media-amazon.com/images/...,[{'title-details-releasedate': {'val': ['Septe...,"[{'title-boxoffice-budget': {'val': '$10,000 (...",[{'title-techspec_runtime': {'val': '6 minutes...,"$10,000 (estimated)",,,,$,10000
100398,"[{'title': 'Disencumber'}, {'poster_link': 'ht...","[{'image': None, 'actor_name': 'Patrick Dunnin...",[{'title-details-releasedate': {'val': ['July ...,"[{'title-boxoffice-budget': {'val': '$50,000 (...",[{'title-techspec_runtime': {'val': '1 hour 15...,"$50,000 (estimated)",,,,$,50000

In [71]:
new_df["currency"].value_counts()

$    13501
£     2388
€     1240
C     1197
A      710
₹      319
N      212
M      107
S       74
R       54
Z       42
I       39
D       38
H       27
¥       24
B       23
T       20
₱       17
P       14
E       11
G        8
F        8
L        7
₪        5
U        3
K        3
Y        1
J        1
Q        1
Name: currency, dtype: int64